language: php
matrix:
  include:
    - php: 7.4
    - php: 7.3
    - php: 7.2
    - php: nightly
  allow_failures:
    - php: nightly

before_script:
  - composer self-update
  - travis_retry composer install --prefer-dist --no-interaction
script:
  - composer test
after_success:
  - bash <(curl -s https://codecov.io/bash)
